In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.linear_model import LinearRegression

# 1ère itération / Baseline

In [8]:
df_fillna = pd.read_pickle("data/EDA_iter_1.pkl")
df_fillna

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

## Hold out

In [9]:
# Instanciate the model
model = LinearRegression()

# Define X and y
X = df_fillna.drop(columns = ["median_house_value", "ocean_proximity"])
y = df_fillna["median_house_value"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Train the model on the data
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.631187139333667

## Cross validation

In [10]:
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6348249131619182

# 2ème itération / imputed value

In [11]:
df_imputed = pd.read_pickle("data/EDA_iter_2_imputed.pkl")
df_imputed

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815
...,...,...,...,...,...,...,...,...,...
16507,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625
16508,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133
16509,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958
16510,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750
16511,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478

In [18]:
X = df_imputed
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6359321320105711

# 3ème itération / Imputation iterative

In [19]:
df_iter_imputed = pd.read_pickle("data/EDA_iter_3_iter_imputed.pkl")
df_iter_imputed

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815
...,...,...,...,...,...,...,...,...,...
16507,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625
16508,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133
16509,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958
16510,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750
16511,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478

In [21]:
X = df_iter_imputed
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6373855122947356

# 4ème itération / sans outliers

In [22]:
df_without_outliers= pd.read_pickle("data/EDA_iter_4_without_outliers.pkl")
df_without_outliers

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815
...,...,...,...,...,...,...,...,...,...
16507,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625
16508,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133
16509,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958
16510,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750
16511,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478

In [24]:
X = df_without_outliers
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

ValueError: Found input variables with inconsistent numbers of samples: [15810, 16512]

# 5ème itération / Normalisé

In [25]:
df_norm = pd.read_pickle("data/EDA_iter_5_norm.pkl")
df_norm

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-1.384010,-0.137635,0.534564,-1.795939,-0.357368,-0.156340,-0.032827,-0.218173,-1.258403
1,0.051247,0.879836,-0.909979,-1.637178,-0.276515,-0.448069,-0.494784,-0.417841,1.610623
2,-1.312987,-0.312201,0.455091,-0.287715,-0.799127,-0.765677,-0.435204,-0.744572,-1.220425
3,-1.011731,0.620480,-0.713633,0.188566,-0.913406,-0.730387,-0.723603,-0.710862,-1.233736
4,1.051114,-0.830911,1.011403,-0.605236,-0.326201,-0.391605,-0.263373,-0.334862,0.114837
...,...,...,...,...,...,...,...,...,...
16507,-1.547765,-1.165080,1.852884,-0.684616,-0.532626,-0.615107,-0.595810,-0.651220,-0.423409
16508,1.447795,-1.339646,1.161000,1.617410,-0.126100,-0.083408,-0.262510,-0.111856,-0.660681
16509,0.252870,-0.825923,1.539666,-0.763996,-0.051119,-0.184572,-0.197750,-0.187056,0.333675
16510,-0.615723,0.710257,-0.685584,0.823608,0.059547,0.707083,0.959301,0.704970,-0.680911
16511,-1.299355,-2.277315,2.418547,0.188566,-0.222311,-0.182219,-0.151986,-0.210394,-0.853741

In [27]:
X = df_norm
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6373855122947327

# 6ème itération / Standardisé

In [28]:
df_minmax = pd.read_pickle("data/EDA_iter_6_minmax.pkl")
df_minmax

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-1.384010,-0.137635,0.534564,-1.795939,-0.357368,-0.156340,-0.032827,-0.218173,-1.258403
1,0.051247,0.879836,-0.909979,-1.637178,-0.276515,-0.448069,-0.494784,-0.417841,1.610623
2,-1.312987,-0.312201,0.455091,-0.287715,-0.799127,-0.765677,-0.435204,-0.744572,-1.220425
3,-1.011731,0.620480,-0.713633,0.188566,-0.913406,-0.730387,-0.723603,-0.710862,-1.233736
4,1.051114,-0.830911,1.011403,-0.605236,-0.326201,-0.391605,-0.263373,-0.334862,0.114837
...,...,...,...,...,...,...,...,...,...
16507,-1.547765,-1.165080,1.852884,-0.684616,-0.532626,-0.615107,-0.595810,-0.651220,-0.423409
16508,1.447795,-1.339646,1.161000,1.617410,-0.126100,-0.083408,-0.262510,-0.111856,-0.660681
16509,0.252870,-0.825923,1.539666,-0.763996,-0.051119,-0.184572,-0.197750,-0.187056,0.333675
16510,-0.615723,0.710257,-0.685584,0.823608,0.059547,0.707083,0.959301,0.704970,-0.680911
16511,-1.299355,-2.277315,2.418547,0.188566,-0.222311,-0.182219,-0.151986,-0.210394,-0.853741

In [30]:
X = df_minmax
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5)

# obtain the mean of scores
cv_results['test_score'].mean()

0.6373855122947327

# 7ème itération / dummy encoding

In [31]:
df_dummy_encoding = pd.read_pickle("data/EDA_iter_7_dummy_encoding.pkl")
df_dummy_encoding

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,1
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,0
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,1
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,0
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,1
...,...,...,...,...,...,...,...,...,...,...
16507,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,1
16508,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,3
16509,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,1
16510,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,0
16511,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,2

In [59]:
X = df_dummy_encoding
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

# obtain the mean of scores
cv_results['test_r2'].mean()

0.637451662777517

# 8ème itération / OneHot encoding

In [34]:
df_encoding = pd.read_pickle("data/EDA_iter_8_onehot_encoding.pkl")
df_encoding

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,2072.0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,0.0,1.0,0.0,0.0,0.0
1,10600.0,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,1.0,0.0,0.0,0.0,0.0
2,2494.0,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,0.0,1.0,0.0,0.0,0.0
3,4284.0,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,1.0,0.0,0.0,0.0,0.0
4,16541.0,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,1099.0,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,0.0,1.0,0.0,0.0,0.0
16508,18898.0,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,0.0,0.0,0.0,1.0,0.0
16509,11798.0,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,0.0,1.0,0.0,0.0,0.0
16510,6637.0,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,1.0,0.0,0.0,0.0,0.0
16511,2575.0,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,0.0,0.0,0.0,0.0,1.0

In [65]:
X = df_encoding
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

# obtain the mean of scores
cv_results['test_r2'].mean()
cv_results['test_neg_root_mean_squared_error'].mean()

-68378.66601750783

# 9ème itération

In [43]:
df_scale = pd.read_pickle("data/EDA_iter_9_scale.pkl")
df_scale

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.100392,0.449203,0.449522,-1.210526,7.525101,6.161207,7.242798,6.035481,0.908944,0.0,1.0,0.0,0.0,0.0
1,0.513591,0.652390,0.121148,-1.105263,7.617268,5.857933,6.760415,5.831882,2.068545,1.0,0.0,0.0,0.0,0.0
2,0.120839,0.414343,0.431456,-0.210526,6.775366,5.370638,6.837333,5.370638,0.937504,0.0,1.0,0.0,0.0,0.0
3,0.207568,0.600598,0.165781,0.105263,6.434547,5.438079,6.393591,5.429346,0.927587,1.0,0.0,0.0,0.0,0.0
4,0.801444,0.310757,0.557917,-0.421053,7.561642,5.924256,7.030857,5.921578,1.625606,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,0.053249,0.244024,0.749203,-0.473684,7.290293,5.631212,6.614726,5.525453,1.401799,0.0,1.0,0.0,0.0,0.0
16508,0.915645,0.209163,0.591923,1.052632,7.768956,6.224558,7.031741,6.129050,1.284621,0.0,0.0,0.0,1.0,0.0
16509,0.571636,0.311753,0.678002,-0.526316,7.836765,6.135565,7.095893,6.063785,1.703984,0.0,1.0,0.0,0.0,0.0
16510,0.321576,0.618526,0.172157,0.526316,7.929126,6.734592,7.842671,6.651572,1.273965,1.0,0.0,0.0,0.0,0.0
16511,0.124764,0.021912,0.877790,0.105263,7.674617,6.137727,7.138867,6.042633,1.177978,0.0,0.0,0.0,0.0,1.0

In [62]:


X = df_scale.drop(columns = ["latitude","longitude","housing_median_age"])
y = df_fillna["median_house_value"]
cv_results = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

# obtain the mean of scores
cv_results['test_r2'].mean()
cv_results['test_neg_root_mean_squared_error'].mean()

-71387.2370931699

In [55]:
for i in df_fillna.columns :
    X = df_scale.drop(columns = ["latitude","longitude","housing_median_age"])

id
longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value
ocean_proximity